{% extends "base-administracao/lista.html" %}

{% block title %}
<header class="d-flex justify-content-between m-3">
    <h1>Professores</h1>
    <button class="btn btn-primary">
        <a class="text-decoration-none text-white" href="{% url 'cadastro-aula' turma %}">Nova Aula</a>
    </button>
</header>
<hr>
{% endblock title %}

{% block content %}
    <div class="container m-auto overflow-x-auto" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Turma</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for aula in aulas %}
                <tr>
                    <th scope="row">{{ aula.id }}</th>
                    <td>{{ aula.turma }}</td>
                    <td>{{ aula.professor }}</td>
                    <td>{{ aula.data }}</td>
                    
                    <td>
                        <a class="text-decoration-none" href="{% url 'cadastro-presenca' turma aula.id %}">
                            <button class="border-0 btn btn-outline-primary" type="button">Presença</button>
                        </a>
                    </td>
                    <td>
                        <a class="text-decoration-none" href="{% url 'editar-aula' turma aula.id %}">
                            <button class="border-0 btn btn-outline-primary" type="button">Editar</button>
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}