@media (max-width: 510px){
    .container-form {
        min-width: 150px;
    }
}

@media (min-width: 510px){
    .container-form {
        max-width: 480px;
    }
}

@media (min-width: 1330px){
    .container-form {
        max-width: 600px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.container-form {
    border: 1px solid black;
    margin: 48px auto;
    padding: 1rem;
    border-radius: .5rem;
    /* width: 580px; */
}

.form-field {
    padding: .5rem;
    max-width: 720px;
    background-color: rgb(11, 11, 32);
    color: white;
    border-radius: .5rem;
}

.form-input {
    padding: .5rem;
    max-width: 100%;
    background-color: rgb(11, 11, 32);
    color: white;
}