@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-curso {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.515);
    border-radius: 8px;
    width: 480px;
    margin: 24px auto;

    h2 {
        font-weight: 700;
        margin: 8px 0;
        text-transform: uppercase;
    }

    small {
        font-weight: 300;
        color: gray;
        margin-right: 8px;
    }
}

.container-curso:hover {
    background-color: azure;
    cursor: pointer;
}

.title {
    margin: 1rem auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
